In [3]:
import pandas as pd
import pickle
import numpy as np

In [27]:
# df = pickle.load(open('filterd data/dataset_level2.pkl','rb'))
df = pd.read_pickle('filterd data/dataset_level2.pkl')

##### we only want these column
- batting_team
- bowling team
- city
- current score
- ball left
- wickets left
- current rr
- last five

In [6]:
df.head(5)

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [7]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [ ]:
df[df['city'].isnull()]['venue'].value_counts()

#### imputing null values in city by extracting city from venue column

In [8]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [9]:
df['city'] = cities

In [10]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [11]:
df.drop(columns=['venue'],inplace=True)

In [12]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
121,964,Sri Lanka,Australia,19.3,1,0,Colombo
122,964,Sri Lanka,Australia,19.4,0,0,Colombo
123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
124,964,Sri Lanka,Australia,19.6,2,0,Colombo
125,964,Sri Lanka,Australia,19.7,1,0,Colombo

#### selecting cities which has more matches played

In [13]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [14]:
df = df[df['city'].isin(eligible_cities)]

In [15]:
df.head()

   match_id batting_team bowling_team  ball  runs player_dismissed       city
0         2    Australia    Sri Lanka   0.1     0                0  Melbourne
1         2    Australia    Sri Lanka   0.2     0                0  Melbourne
2         2    Australia    Sri Lanka   0.3     1                0  Melbourne
3         2    Australia    Sri Lanka   0.4     2                0  Melbourne
4         2    Australia    Sri Lanka   0.5     0                0  Melbourne

In [18]:
df['match_id'].dtype

dtype('int64')

finding the currfemt score after theat ball

In [28]:
df['current_score'] = df.groupby('match_id').cumsum()['runs']

NotImplementedError: function is not implemented for this dtype: [how->cumsum,dtype->object]

In [25]:
df.groupby('match_id').cumsum()

NotImplementedError: function is not implemented for this dtype: [how->cumsum,dtype->object]